In [22]:
### First make a nested dictinary (part_a)

### Create a dictionary with key ’it’ and value being a dictionary,
### which is again a dictionary of Key:Value pairs where the Key gives
### the value of it and the Value is the list the unique v values under
### the same it value.

import numpy as np
import pandas as pd
import os


file = open("hw1_1_dat.txt")
lines = file.readlines()
file.close()
        
        

it_list = []
for line in lines:
    for word in line.split('  '):
        if word.startswith('it='):
            it_list.append(int(word.split(' ')[1]))
# it_list
# print((set(it_list)))
# it_values = len(set(it_list))
# it_values

v_list = []
for line in lines:
    for word in line.split('  '):
        if word.startswith('v='):
            v_list.append(int(word.split('v=')[1]))
# v_list

df = pd.DataFrame(columns = ["it", "v"])
df["it"]=it_list
df["v"]=v_list
# df

dic = {}
for my_it in set(it_list):
    mask = df.loc[:,"it"] == my_it
    df_mask = df.loc[mask,:]
    my_set = set(df_mask["v"])
    dic[my_it]=my_set

# dic
# {'it':dic}


### the number of unique values of it and its value: n_it
set(it_list)
n_it = len(set(it_list))
# print(n_it)

### the number of lines in the file and its value: n_lines

n_lines=0
for line in lines:
    n_lines = n_lines + 1
# print(n_lines)

# answer_1a = {"n_lines":n_lines , "n_it": n_it , "it":dic}

In [23]:
## A Pandas data frame to give your answer to part b)

### Writeapythoncodetoextractit,v,epoch,andUbeta**2sumfromthefile.
### Compute log10(Ubeta**2 sum). Let the code to save the extracted 
### data into a data frame with column names it, v, epoch,
### log10Ubeta2sum. (Note: log10Ubeta2sum is the log of Ubeta**2 sum in
### base 10).

file = open("hw1_1_dat.txt")
lines = file.readlines()
file.close()


it_list = []
for line in lines:
    for word in line.split('  '):
        if word.startswith('it='):
            it_list.append(int(word.split(' ')[1]))
# it_list
# print((set(it_list)))
# it_values = len(set(it_list))
# it_values

v_list = []
for line in lines:
    for word in line.split('  '):
        if word.startswith('v='):
            v_list.append(int(word.split('v=')[1]))
# v_list


epoch_list = []
for line in lines:
    for word in line.split('  '):
        if word.startswith('epoch='):
            epoch_list.append(word.split(' ')[1])            
# epoch_list


U_list = []
for line in lines:
    words = line.split('  ')
    for i, word in enumerate(words):
        if word.endswith('sum is'):
            U_list.append(float(words[i+1].split(' ')[0]))
# U_list




df = pd.DataFrame()
df["it"]=it_list
df["v"]=v_list
df["epoch"]= epoch_list
df["U"] = U_list
df["log10Ubeta2sum"]= np.log10(df["U"].values)
del df["U"]
df

       it    v epoch  log10Ubeta2sum
0     164  176     5       -5.200286
1     164  176     6       -5.481360
2     164  176     7       -6.464732
3     164  176     8       -6.488382
4     164  176     9       -7.162887
...   ...  ...   ...             ...
4936  784   16    11        6.411282
4937  784   16    12        6.319693
4938  784   16    13        6.551808
4939  784   16    14        7.819870
4940  784   16    15        7.343799

[4941 rows x 4 columns]

In [33]:
import numpy as np
import pandas as pd
import os

class homework1:

    file_name = os.getcwd()+ '/' + 'hw1_1_dat.txt'   
    def __init__(self):
        self.hw_1a, self.hw_1b = self.hw_1ab_fun(self.file_name)
        

    def hw_1ab_fun(self, file_name):
        
        answer_1a = {"n_lines":n_lines , "n_it": n_it , "it":dic}
        answer_1b = df
        
#          fill in your code to get answer to part a and b here
#         Assign your answer to part a to variable answer_1a
#         and assign your answer to part b to variable answer_1b.
        
        return answer_1a, answer_1b
        
        

    def findmin(self, it, v, df):
        
        mask = df.loc[:,"it"] == it
        mask1 = df.loc[:,'v'] == v
        df_mask = df.loc[mask & mask1,:]
        smallest = np.min(df_mask["log10Ubeta2sum"])
        
        # fill in your code to find the smallest log10Ubeta2sum 
        # among all rows with the same it and v. 
        # Assign the smallest value to variable smallest. 
        
        return smallest

In [34]:
it = it_list
v = v_list

In [37]:
import homework1 as ans
myanswer = homework1()
myanswer.hw_1a
myanswer.hw_1b
myanswer.hw_1ab_fun('hw1_1_dat.txt') # where filename is a string of file name such as 'hw1_1_dat.txt'
myanswer.findmin(it, v, df)

ModuleNotFoundError: No module named 'homework1'